In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import missingno as msno
%matplotlib inline

In [2]:
# import OS module
import os
 
# Get the list of all files and directories
path = "D:\COGNOS METRIX\DATA\All subject areas\DATA"
subject_areas_list = os.listdir(path)
 
print("Files and directories in '", path, "' :")
 
# prints all files
subject_areas_list

Files and directories in ' D:\COGNOS METRIX\DATA\All subject areas\DATA ' :

['Agricultural_and_Biological_Sciences',
 'Arts_and_Humanities',
 'Biochemistry_Genetics_and_Molecular_Biology',
 'Business_Management_and_Accounting',
 'Chemical_Engineering',
 'Chemistry',
 'Computer_Science',
 'Decision_Sciences',
 'Dentistry',
 'Earth_and_Planetary_Sciences',
 'Economics_Econometrics_and_Finance',
 'Energy',
 'Engineering',
 'Environmental_Science',
 'Health_Professions',
 'Immunology_and_Microbiology',
 'Materials_Science',
 'Mathematics',
 'Medicine',
 'Multidisciplinary',
 'Neuroscience',
 'Nursing',
 'Pharmacology_Toxicology_and_Pharmaceutics',
 'Physics_and_Astronomy',
 'Psychology',
 'Social_Sciences',
 'Veterinary']

In [3]:
for subject in subject_areas_list:
# create an Empty DataFrame object
    df = pd.DataFrame()

    for year in range(1996,2022):
        #Import data
        data = pd.read_excel(f"../DATA/All subject areas/DATA/{subject}/scimagojr country rank {year}.xlsx")[['Country','Documents']]
        data = data.rename(columns={"Documents": f"{year}"})
        data = data.set_index('Country')

        # Make a copy of data
        df = pd.concat([df, data], axis=1)
        
    df = df.fillna(0).astype(int).reset_index()
    
    df.to_excel(f'../DATA/All subject areas/subject_areas/{subject}.xlsx')

df

,Country,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,United States,3107,2884,2968,2972,3007,3025,3408,3476,3660,...,4647,4599,4275,4360,4238,4619,4745,4943,5420,6035
1,United Kingdom,1004,1054,998,1035,1048,1043,1206,1312,1353,...,1824,1809,1602,1693,1723,1881,1848,1932,2113,2271
2,Germany,684,915,934,978,885,988,968,1061,1064,...,1279,1245,1185,1115,1000,1140,1202,1155,1231,1197
3,Japan,662,590,649,657,733,711,638,687,707,...,821,770,698,648,731,708,718,767,832,955
4,Canada,541,542,509,527,529,504,493,560,623,...,791,752,786,755,767,863,905,951,1010,1091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Montserrat,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
217,Republic of South Sudan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,5,3
218,Tuvalu,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
219,Monaco,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
220,Norfolk Island,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [4]:
import os, glob
import pandas as pd

path = "D:\COGNOS METRIX\DATA\All subject areas\subject_areas"

all_files = glob.glob(os.path.join(path, "*.xlsx"))

all_df = []
for f in all_files:
    df = pd.read_excel(f)#.reset_index()
    df['subject areas'] = f.split('\\')[-1].split('.')[0]
    all_df.append(df)
    
All_subject_areas = pd.concat(all_df, sort=True).reset_index().drop(['Unnamed: 0','index'], axis=1);

All_subject_areas['subject areas'] = All_subject_areas['subject areas'].str.replace(r'_', ' ')

All_subject_areas.to_excel(f'../DATA/All subject areas/All subject areas.xlsx')

All_subject_areas

,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2014,2015,2016,2017,2018,2019,2020,2021,Country,subject areas
0,23680,24845,24156,24068,24488,24911,26495,29260,30142,31062,...,38136,39472,39823,40515,41803,42802,44014,47156,United States,Agricultural and Biological Sciences
1,7237,7413,7695,7752,7785,7310,7633,7890,8126,8224,...,10485,11060,11095,11162,11728,12056,12517,14109,United Kingdom,Agricultural and Biological Sciences
2,4991,5027,4755,4475,4601,4361,4576,5346,5525,5926,...,7990,7777,8142,8119,8438,8937,9107,10207,Canada,Agricultural and Biological Sciences
3,4801,5274,5439,5446,5507,5644,5689,6222,6607,7266,...,10373,10648,10923,11079,11708,11910,12266,14046,Germany,Agricultural and Biological Sciences
4,4755,5341,5360,5327,5762,5520,6329,6323,6611,6935,...,7230,7463,7594,7261,7810,7806,8659,9163,Japan,Agricultural and Biological Sciences
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,Montserrat,Veterinary
6300,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,5,3,Republic of South Sudan,Veterinary
6301,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,Tuvalu,Veterinary
6302,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2,Monaco,Veterinary
6303,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,Norfolk Island,Veterinary

In [5]:
subject_areas_list = pd.DataFrame(All_subject_areas['subject areas'].unique())
subject_areas_list.to_excel(f'../DATA/All subject areas/subject_areas_list.xlsx')
subject_areas_list

                                              0
0          Agricultural and Biological Sciences
1                           Arts and Humanities
2   Biochemistry Genetics and Molecular Biology
3            Business Management and Accounting
4                          Chemical Engineering
5                                     Chemistry
6                              Computer Science
7                             Decision Sciences
8                                     Dentistry
9                  Earth and Planetary Sciences
10           Economics Econometrics and Finance
11                                       Energy
12                                  Engineering
13                        Environmental Science
14                           Health Professions
15                  Immunology and Microbiology
16                            Materials Science
17                                  Mathematics
18                                     Medicine
19                            Multidisciplinary
20                                 Neuroscience
21                                      Nursing
22    Pharmacology Toxicology and Pharmaceutics
23                        Physics and Astronomy
24            production scientifique 1996 2021
25                                   Psychology
26                              Social Sciences
27                                   Veterinary

In [6]:
subject_areas_and_field = pd.read_excel(f"../DATA/All subject areas/subject_areas_and_field.xlsx").dropna()#.set_index('subject categories')
subject_areas_and_field

,subject areas,Field (http://nturanking.csti.tw/methodoloyg/subjectCategories),WOS,Supergroup (scopus)
0,Arts and Humanities,Social Sciences,Arts & Humanities,Social Sciences
1,Agricultural and Biological Sciences,Agriculture,Life Sciences & Biomedicine,Life Sciences
2,Biochemistry Genetics and Molecular Biology,Life Sciences,Life Sciences & Biomedicine,Life Sciences
3,Environmental Science,Agriculture,Life Sciences & Biomedicine,Physical Sciences
4,Immunology and Microbiology,Life Sciences,Life Sciences & Biomedicine,Life Sciences
5,Nursing,Medicine,Life Sciences & Biomedicine,Health Sciences
6,Pharmacology Toxicology and Pharmaceutics,Life Sciences,Life Sciences & Biomedicine,Life Sciences
7,Veterinary,Agriculture,Life Sciences & Biomedicine,Health Sciences
8,Dentistry,Medicine,Life Sciences & Biomedicine,Health Sciences
9,Medicine,Medicine,Life Sciences & Biomedicine,Health Sciences
10,Neuroscience,Medicine,Life Sciences & Biomedicine,Life Sciences
11,Health Professions,Medicine,Life Sciences & Biomedicine,Health Sciences
12,Chemistry,Natural Sciences,Physical Sciences,Physical Sciences
13,Physics and Astronomy,Natural Sciences,Physical Sciences,Physical Sciences
14,Mathematics,Natural Sciences,Physical Sciences,Physical Sciences
15,Earth and Planetary Sciences,Natural Sciences,Physical Sciences,Physical Sciences
16,Business Management and Accounting,Social Sciences,Social Sciences,Social Sciences
17,Psychology,Social Sciences,Social Sciences,Social Sciences
18,Social Sciences,Social Sciences,Social Sciences,Social Sciences
19,Decision Sciences,Engineering,Social Sciences,Social Sciences
20,Economics Econometrics and Finance,Social Sciences,Social Sciences,Social Sciences
21,Chemical Engineering,Engineering,Technology,Physical Sciences
22,Computer Science,Engineering,Technology,Physical Sciences
23,Energy,Engineering,Technology,Physical Sciences
24,Engineering,Engineering,Technology,Physical Sciences
25,Materials Science,Engineering,Technology,Physical Sciences

In [7]:
All_subject_areas = pd.merge(All_subject_areas, subject_areas_and_field, how="inner", on = 'subject areas')
All_subject_areas

,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2017,2018,2019,2020,2021,Country,subject areas,Field (http://nturanking.csti.tw/methodoloyg/subjectCategories),WOS,Supergroup (scopus)
0,23680,24845,24156,24068,24488,24911,26495,29260,30142,31062,...,40515,41803,42802,44014,47156,United States,Agricultural and Biological Sciences,Agriculture,Life Sciences & Biomedicine,Life Sciences
1,7237,7413,7695,7752,7785,7310,7633,7890,8126,8224,...,11162,11728,12056,12517,14109,United Kingdom,Agricultural and Biological Sciences,Agriculture,Life Sciences & Biomedicine,Life Sciences
2,4991,5027,4755,4475,4601,4361,4576,5346,5525,5926,...,8119,8438,8937,9107,10207,Canada,Agricultural and Biological Sciences,Agriculture,Life Sciences & Biomedicine,Life Sciences
3,4801,5274,5439,5446,5507,5644,5689,6222,6607,7266,...,11079,11708,11910,12266,14046,Germany,Agricultural and Biological Sciences,Agriculture,Life Sciences & Biomedicine,Life Sciences
4,4755,5341,5360,5327,5762,5520,6329,6323,6611,6935,...,7261,7810,7806,8659,9163,Japan,Agricultural and Biological Sciences,Agriculture,Life Sciences & Biomedicine,Life Sciences
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5823,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,Montserrat,Veterinary,Agriculture,Life Sciences & Biomedicine,Health Sciences
5824,0,0,0,0,0,0,0,0,0,0,...,0,0,1,5,3,Republic of South Sudan,Veterinary,Agriculture,Life Sciences & Biomedicine,Health Sciences
5825,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,Tuvalu,Veterinary,Agriculture,Life Sciences & Biomedicine,Health Sciences
5826,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,2,Monaco,Veterinary,Agriculture,Life Sciences & Biomedicine,Health Sciences
5827,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,Norfolk Island,Veterinary,Agriculture,Life Sciences & Biomedicine,Health Sciences

In [8]:
country_list = list(All_subject_areas['Country'].unique())
country_list

['United States',
 'United Kingdom',
 'Canada',
 'Germany',
 'Japan',
 'France',
 'Australia',
 'Spain',
 'India',
 'Italy',
 'Netherlands',
 'Russian Federation',
 'Sweden',
 'New Zealand',
 'South Africa',
 'Brazil',
 'China',
 'Belgium',
 'Poland',
 'Switzerland',
 'Finland',
 'Denmark',
 'Israel',
 'Argentina',
 'Norway',
 'Mexico',
 'Czech Republic',
 'Taiwan',
 'Austria',
 'Turkey',
 'Hungary',
 'Greece',
 'Slovakia',
 'South Korea',
 'Egypt',
 'Nigeria',
 'Ireland',
 'Portugal',
 'Chile',
 'Kenya',
 'Philippines',
 'Malaysia',
 'Pakistan',
 'Indonesia',
 'Ukraine',
 'Thailand',
 'Hong Kong',
 'Croatia',
 'Venezuela',
 'Bangladesh',
 'Costa Rica',
 'Cuba',
 'Bulgaria',
 'Saudi Arabia',
 'Singapore',
 'Colombia',
 'Puerto Rico',
 'Ethiopia',
 'Zimbabwe',
 'Estonia',
 'Uzbekistan',
 'Morocco',
 'Tanzania',
 'Slovenia',
 'Iran',
 'Syrian Arab Republic',
 'Panama',
 'Ghana',
 'Peru',
 'Sri Lanka',
 'Cameroon',
 'Jordan',
 'Iceland',
 'Serbia',
 'Belarus',
 'United Arab Emirates',
 'Senegal',
 'Viet Nam',
 'Uganda',
 'Oman',
 'Uruguay',
 'Kazakhstan',
 'Botswana',
 'Romania',
 'Kuwait',
 'Algeria',
 'Lithuania',
 'Tunisia',
 'Côte d’Ivoire',
 'Malawi',
 'Nepal',
 'Trinidad and Tobago',
 'Sudan',
 'Zambia',
 'New Caledonia',
 'Lebanon',
 'Cyprus',
 'Madagascar',
 'Papua New Guinea',
 'Iraq',
 'Ecuador',
 'Namibia',
 'Congo',
 'Benin',
 'Guam',
 'Burkina Faso',
 'French Polynesia',
 'Niger',
 'Mali',
 'Bolivia',
 'Jamaica',
 'Georgia',
 'Honduras',
 'Moldova',
 'Monaco',
 'Guadeloupe',
 'Albania',
 'Latvia',
 'Armenia',
 'Rwanda',
 'Nicaragua',
 'Solomon Islands',
 'Guatemala',
 'Burundi',
 'Barbados',
 'Yemen',
 'Qatar',
 'Fiji',
 'French Guiana',
 'Tajikistan',
 'Martinique',
 'Mongolia',
 'Dominican Republic',
 'Azerbaijan',
 'Mauritius',
 'Swaziland',
 'Brunei Darussalam',
 'Democratic Republic Congo',
 'Macedonia',
 'El Salvador',
 'Bermuda',
 'Mozambique',
 'Luxembourg',
 'Lesotho',
 'Guyana',
 'Virgin Islands (U.S.)',
 'Gambia',
 'American Samoa',
 'Laos',
 'Belize',
 'Sierra Leone',
 'Turkmenistan',
 'Bahrain',
 'Gabon',
 'Maldives',
 'Guinea',
 'Suriname',
 'Myanmar',
 'Greenland',
 'Samoa',
 'Faroe Islands',
 'Mauritania',
 'Saint Lucia',
 'Palau',
 'Northern Mariana Islands',
 'Libya',
 'Seychelles',
 'Somalia',
 'Netherlands Antilles',
 'Andorra',
 'Togo',
 'Federated States of Micronesia',
 'Eritrea',
 'Dominica',
 'Djibouti',
 'Central African Republic',
 'Bhutan',
 'Vanuatu',
 'Cape Verde',
 'Cook Islands',
 'Reunion',
 'Kyrgyzstan',
 'Paraguay',
 'Cambodia',
 'Sao Tome and Principe',
 'San Marino',
 'Bahamas',
 'Falkland Islands (Malvinas)',
 'Malta',
 'Saint Kitts and Nevis',
 'Macao',
 'Bosnia and Herzegovina',
 'Saint Vincent and the Grenadines',
 'Guinea-Bissau',
 'Turks and Caicos Islands',
 'North Korea',
 'Equatorial Guinea',
 'Aruba',
 'Haïti',
 'Angola',
 'Virgin Islands (British)',
 'British Indian Ocean Territory',
 'Tonga',
 'Chad',
 'Palestine',
 'Grenada',
 'Montenegro',
 'Liechtenstein',
 'Christmas Island',
 'Mayotte',
 'Antigua and Barbuda',
 'South Georgia and the South Sandwich Islands',
 'Cayman Islands',
 'Comoros',
 'Marshall Islands',
 'Montserrat',
 'Liberia',
 'Gibraltar',
 'French Southern Territories',
 'Afghanistan',
 'Svalbard and Jan Mayen',
 'Tuvalu',
 'Timor-Leste',
 'Wallis and Futuna',
 'Norfolk Island',
 'Kiribati',
 'Cocos (Keeling) Islands',
 'Saint Helena',
 'Anguilla',
 'Republic of South Sudan',
 'Saint Pierre and Miquelon',
 'Nauru',
 'Bouvet Island',
 'Curaçao',
 'Sint Maarten',
 'Vatican City State',
 'Western Sahara',
 'Heard Island and McDonald Islands',
 'United States Minor Outlying Islands',
 'Tokelau',
 'Niue',
 'Pitcairn']

In [9]:
for country in country_list:
    country_subject_areas = All_subject_areas.loc[All_subject_areas['Country'] == country]
    
    country_subject_areas.to_excel(f'../DATA/All subject areas/0country_subject_areas/{country}_subject_areas.xlsx')

country_subject_areas

,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2017,2018,2019,2020,2021,Country,subject areas,Field (http://nturanking.csti.tw/methodoloyg/subjectCategories),WOS,Supergroup (scopus)
911,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,Pitcairn,Business Management and Accounting,Social Sciences,Social Sciences,Social Sciences
1579,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,Pitcairn,Computer Science,Engineering,Technology,Physical Sciences
1770,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,Pitcairn,Decision Sciences,Engineering,Social Sciences,Social Sciences
2874,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,Pitcairn,Engineering,Engineering,Technology,Physical Sciences
4006,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,Pitcairn,Mathematics,Natural Sciences,Physical Sciences,Physical Sciences